.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.card {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border: 1px solid rgb(64, 77, 67);
  border-radius: 5px;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
}

.single:hover {
  border-left: 8px solid #4979ff;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 20px;
  }

  .card {
    width: 90%;
  }
}
